/* Styling for Transfermarkt Application */

body {
    background-color: lightblue;
}

.introduction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: darkblue;
}
